/* style.css */

/* cart */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
    /* background-color: lightblue; */
}

.cart-buttons span {
    width: 50px;
    text-align: center;
    border: 1px solid;
}

.cart-total span {
    font-size: 20px;
}

.background-red {
    text-align: center;
    font-weight: bolder;
    background-color: rgba(180, 0,0,0.4);
    margin: 10px auto;
    width: 45vw;
    border-radius: 5px;
}

.large-icon {
    font-size: 7rem;
    margin-bottom: 0.5rem;
}

.color-text-footer {
    color: white !important;
}

.delete-container {
    margin: 15px -10px 0 -10px;
    color: lightgrey;
}

.delete-container:hover {
    color: darkslategray;
}

.nav-link {
    color: black !important;
}

.bg-dark {
    background-color: black !important;
}

.banner {
    background-image: url(../img/banner3.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    top: 0;
    margin-right: 0 !important;
}

#header {
    background-color: transparent !important;
    position: fixed;
    top: 0;
    width: 100vw;
}

#header.fixed {
    background-color: rgba(255, 255, 255, 1) !important;
    position: fixed;
    z-index: 10000;
}

.navbar-toggler {
    background-color: black !important;
}

.navbar-toggler-icon {
    color: white !important;
}

.centro {
    text-align: center;
}

.scuro {
    color: black;
}

.table {
    background-color: white;
    border-radius: 5px;
}

.separate-top {
    margin-top: 100px;
}

.view-product-container {
    width: 70% !important;
}

/* media query */

@media (min-width: 1200px) { 
    #main {
        max-width: 1650px !important;
    }
}

@media (max-width: 1024px) { 
    .view-product-container {
        width: 100% !important;
    }

    .navbar-nav {
        margin-left: 0px !important;
    }

    .card {
        width: 100% !important;
    }
}

@media (min-width: 576px){
    .jumbotron {
        padding: 2rem;
    }
}

.hamburger-icon {
    margin-top: 2px;
    font-size: 1.7rem;
}

/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/

.footer {
	text-align: left;
    margin-top: 5rem;
}
.footer-top {
	background-color: #181818;
	padding-top: 50px;
}
.footer-bottom {
	background-color: #313454;
	padding: 20px 0;
}
.footer .footer-col {
	margin-bottom: 50px;
}
.footer h5 {
	color: #fff;
}
.footer h5 {
	margin-bottom: 20px;
}
.footer p {
	color: rgba(255, 255, 255, 0.25);
}
.footer a {
	color: rgba(255, 255, 255, 0.50);
}
.footer a:hover {
	color: #e84545;
}
.footer .footer-share {
	margin-top: 50px;
    padding: 0 !important;
}
.footer .footer-share li {
	display: inline-block;
	float: none;
}
.footer .footer-share a {
	border: none;
	font-size: 21px;
	color: rgba(255, 255, 255, 0.25);
}
.footer .fa-heart {
	color: #e84545;
	font-size: 11px;
	margin: 0 2px;
}