/* style.css */

/* cart */

.cart-buttons span {
    width: 50px;
    text-align: center;
    border: 1px solid;
}

.cart-total span {
    font-size: 20px;
}

/* media query */

@media (min-width: 1200px) { 
    #main {
        max-width: 1500px !important;
    }
}