<div class="mt-5 mb-4">
    <a href="../{{ ROOT_URL }}admin?page=users-list" class="back underline scuro">&laquo; Lista Messaggi</a>
</div>

<h1>Rispondi al Messaggio</h1>

<form method="post" class="mt-5">
    <div class="form-group">
        <label for="msg">Risposta</label>
        <textarea rows="7" name="msg" id="msg" type="text" class="form-control"></textarea>
    </div>
    <input type="hidden" name="id" value="{{ user.id }}">
    <input name="answer" type="submit" class="btn btn-primary" value="Rispondi">
</form>