    <!-- FOOTER -->
    <footer class="footer" >
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h5>Contattaci</h5>
                        <p>Via tirino<br>
                            085 123456 / 333 1234567<br>
                            support@footlooser.com</p>
                        <p>Copyright © 2021 Stefano Bavota All Rights Reserved. </p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h5>Social</h5>
                        <ul class="footer-share">
                            <li class="mr-4"><a href="#"><i class="fab fa-facebook" style="font-size: 3em;"></i></a></li>
                            <li class="mr-4"><a href="#"><i class="fab fa-instagram" style="font-size: 3em;"></i></a></li>
                            <li class="mr-4"><a href="#"><i class="fab fa-youtube" style="font-size: 3em;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->

    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="../{{ ROOT_URL }}assets/js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-totCartItems').html('{{ cart_total['num_products'] }}');
            $(window).on('scroll', function () {
                var scroll = $(window).scrollTop();
                if (scroll >= 50) {
                    $('#header').addClass('fixed');
                } else {
                    $('#header').removeClass('fixed');
                }
            });
        });
    </script>
</body>

</html>