<div class="row col-md-3 ml-2">
    {% if user is defined %}
        <div style="width: 100%; margin-top:100px;">
            <div class="jumbotron" >

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Lista dei desideri</span>
                    <span class="badge bg-secondary rounded-pill text-white">{{ productsCount }}</span>
                </h4>

                {% if (wishlist) %}
                    {% for product in wishlist %}
                        <ul class="container-fluid">
                            <li class="list-group-item d-flex justify-content-between lh-sm row">
                                <div class="col-2 delete-container">
                                    <form method="post">
                                        <button class="btn" name="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        <input type="hidden" name="id" value="{{ product['wish_list_id'] }}">
                                    </form>
                                </div>

                                <div class="col-10">
                                    <div>
                                        <h6 class="my-0">{{ product['name'] }}</h6>
                                    </div>
                                    <span class="text-muted">{{ product['price'] }} €</span>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                {% else  %}
                    <p>Nessun prodotto disponibile...</p>
                {% endif %}

                <form class="card p-2">
                    <div class="input-group">
                        <a href="../{{ ROOT_URL }}shop/?page=wish-list" class="btn btn-primary btn-sm btn-block circle">Visualizza Lista</a>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>