<h1 class="separate-top mb-3">Lista dei desideri</h1>

<div class="row">
    {% if wishlist %}
            {% for product in wishlist %}
                <div class="card ml-3 mb-3" style="width: 18rem;">
                    <img src="{{ product['image'] }}" class="card-img-top" alt="Card image cap" style="width:100%; height: 20rem; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product['name'] }}</h5>
                        <h5 class="card-title">{{ product['price'] }} €</h5>
                        <div class="mb-2">
                            <button class="btn btn-secondary btn-sm btn-block circle" onclick="location.href='{{ ROOT_URL }}?page=view-product&id={{ product['product_id'] }}'">Vedi</button>
                        </div>
                        <div class="mb-2">
                            <form method="post">
                                <input type="hidden" name="id" value="{{ product['product_id'] }}">
                                <input type="hidden" name="id_wish" value="{{ product['wish_list_id'] }}">
                                <input name="add_to_cart" type="submit" class="btn btn-primary btn-sm btn-block circle" value="Aggiungi al carrello">
                            </form>
                        </div>
                        <div class="mb-2">
                            <form method="post" class="right">
                                <input type="hidden" name="id" value="{{ product['wish_list_id'] }}">
                                <input name="remove" onclick="return confirm('Procedere ad eliminare?');" type="submit" class="btn btn-danger btn-sm btn-block circle" value="Rimuovi Articolo">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% else %}
        <p>Nessun prodotto disponibile...</p>
    {% endif %}
</div>